{% extends "dappx/base.html" %}
{% block body_block %}
<div class="container">
  <div class="jumbotron">
    <h1>Welcome to the registration app!</h1>
    {% if user.is_authenticated %}
        <h2>Hello {{ user.username }}</h2>
    {% else %}
        <h2>Register or Login to verify your face</h2>
    {% endif %}

  </div>
</div>
    {% if user.is_authenticated %}
        <div class="contentarea">

  <div class="camera">
    <video id="video">Video stream not available.</video>
    <button id="startbutton">Take photo</button> 
  </div>
  <canvas id="canvas">
  </canvas>
  <div class="output">
    <img id="photo" alt="The screen capture will appear in this box."> 
  </div>

<button type="button" id="2">Register</button>
<button type="button" id="3">Verify</button>

<div style="height:50px; width:100%; clear:both;"></div>
<p style="width:100%;height:20px;font-size:18px;" id="text_change1"></p>

{% csrf_token %}
<script>

const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

const fileInput = document.getElementById('photo');
const formData = new FormData();

const btn2 = document.getElementById("2");
const btn3 = document.getElementById("3");


p1 = document.getElementById('text_change1');
var text = "";

var dataMasiv = [];
async function postData(url) {

  const response = await fetch(url, {
    method: 'GET', 
    mode: 'cors', 
    cache: 'no-cache', 
    headers: {
      'Content-Type': 'application/json'
    },
  });

let a = await response.json();

return a;
}


btn3.onclick = function (evt) {
postData('http://127.0.0.1:8000/dappx/verify/')
  .then((response) => {
    text = JSON.stringify(response);
    if (text == '{"verify":1}') {
       p1.innerHTML = 'you are veifyed';
    } else {
       p1.innerHTML = 'you are not veifyed';
    };
  });

}



btn2.onclick = function (evt) {

  const fileInput = document.getElementById('photo').src;

  const options = {
    method: 'POST',
    headers: {'X-CSRFToken': csrftoken},
    body: fileInput,
  };
  fetch('http://127.0.0.1:8000/dappx/register_voting/', options).then((response) => {
  });
}


</script>



<div style="height:400px; width:100%; clear:both;"></div>	
</div>
    {% endif %}


{% endblock %}
